---

---

<footer style="text-align: center; color: #aaa; font-size: 14px; padding: 20px 20px 30px 20px;">
    2025 - <span id="year">
      {new Date().getFullYear().toString()}
          </span> ©  Literar-AI - 
          <span id="changeText">
            <a href="https://opihost.com/terminos-condiciones/">Terms</a>
            <a href="https://opihost.com/politica-cookies/">Cookies</a>
            <a href="https://opihost.com/politica-privacidad/">Privacy</a>
          </span>
</footer>
